html {
  scroll-behavior: smooth;
}

.photo-card {
  padding: 5px;
  background-color: #ffffff;
  border: 2px solid black;
  width: 410px;
}
.search-form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
img {
  object-fit: cover;
  border: 3px solid darkgray;
}
.info {
  display: flex;
  text-align: center;
  background-color: #e6cfcf;
  border: 2px solid #2c2c2c;
  margin-top: 7px;
}
button {
  display: block;

  padding: 15px 20px;
  color: lawngreen;
  background-color: black;
  font-weight: bold;
  border: 0;
}
input {
  padding: 15px 20px;
  margin-right: 15px;
}
.load-more.is-hidden {
  display: none;
}
.load-more {
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

.array-top {
  color: #b71acb;
  position: fixed;
  bottom: 5%;
  left: 90%;
  cursor: pointer;
  background-color: rgba(14, 10, 238, 0.2);
  border-radius: 50%;
}
.array-top:hover {
  background-color: rgba(8, 44, 247, 0.5);
}
.array-top.is-hidden {
  display: none;
}
